<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sharetimes.mapper.UserMapper">
    <select id="getDate" resultType="String">
        select now();
    </select>

    <update id="updateUser" >
        UPDATE user SET
            token = #{token},login_time = #{loginTime}
        WHERE
            uid = #{uid};
    </update>

   <update id="updateUserByTelephone" >
        UPDATE user SET
            password = #{password}
        WHERE
            telephone = #{telephone};
    </update>

</mapper>